Source: frr
Section: net
Priority: optional
Maintainer: Nobody <nobody@frrouting.org>
Uploaders: Nobody <nobody@frrouting.org>
Build-Depends:
 autotools-dev,
 bison,
 chrpath,
 debhelper (>= 7.0.50~),
 dh-autoreconf,
 dh-systemd <!pkg.frr.nosystemd>,
 flex,
 gawk,
 git,
 install-info,
 libc-ares-dev,
 libcap-dev,
 libjson0 | libjson-c2 | libjson-c3,
 libjson0-dev | libjson-c-dev,
 libpam0g-dev | libpam-dev,
 libpcre3-dev,
 libpython-dev | libpython3-dev,
 libreadline-dev,
 librtr-dev <pkg.frr.rtrlib>,
 libsnmp-dev <pkg.frr.snmp>,
 libssh-dev <pkg.frr.rtrlib>,
 libsystemd-dev <!pkg.frr.nosystemd>,
 pkg-config,
 python (>= 2.7) | python3,
 python-sphinx | python3-sphinx,
 texinfo (>= 4.7)
Standards-Version: 4.2.1
Homepage: http://www.frrouting.org/
Vcs-Browser: https://github.com/FRRouting/frr/
Vcs-Git: https://github.com/FRRouting/frr.git

Package: frr
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 iproute2 | iproute,
 logrotate (>= 3.2-11)
Pre-Depends: adduser
Recommends: frr-pythontools
Suggests: frr-doc
Conflicts: zebra, zebra-pj, quagga
Replaces: zebra, zebra-pj
Description: BGP/OSPF/RIP/RIPng/ISIS/PIM/LDP routing daemon forked from Quagga
 FRR is free software which manages TCP/IP based routing protocols.
 It supports BGP4, BGP4+, OSPFv2, OSPFv3, IS-IS, RIPv1, RIPv2, RIPng,
 PIM and LDP as well as the IPv6 versions of these.
 .
 FRR is a fork of Quagga with an open community model. The main git
 lives on https://github.com/frrouting/frr.git

Package: frr-snmp
Section: net
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 frr (= ${binary:Version})
Recommends: snmpd
Description: FRRouting SNMP support
 Adds SNMP support to FRR's daemons by attaching to net-snmp's snmpd
 through the AgentX protocol.
Build-Profiles: <pkg.frr.snmp>

Package: frr-rpki-rtrlib
Section: net
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 frr (= ${binary:Version})
Description: FRRouting RTRlib RPKI support
 Adds RPKI support to FRR's bgpd, allowing validation of BGP routes against
 cryptographic information stored in WHOIS databases.
Build-Profiles: <pkg.frr.rtrlib>

Package: frr-dbg
Architecture: any
Depends:
 ${misc:Depends},
 frr (= ${binary:Version})
Priority: optional
Section: debug
Description: BGP/OSPF/RIP/RIPng/ISIS/PIM/LDP routing daemon (debug symbols)
 This package provides debugging symbols for all binary packages built
 from frr source package. It's highly recommended to have this package
 installed before reporting any FRR crashes to either FRR developers or
 Debian package maintainers.

Package: frr-doc
Section: doc
Architecture: all
Depends:
 ${misc:Depends},
 libjs-jquery,
 libjs-underscore
Suggests: frr
Description: BGP/OSPF/RIP/RIPng/ISIS/PIM/LDP routing daemon (documentation)
 This package includes info files for frr, a free software which manages
 TCP/IP based routing protocols.  It supports BGP4, BGP4+, OSPFv2, OSPFv3,
 IS-IS, RIPv1, RIPv2, RIPng, PIM and LDP as well as the IPv6 versions of these.

Package: frr-pythontools
Section: net
Architecture: all
Depends:
 ${misc:Depends},
 frr (<< ${source:Upstream-Version}.0-~),
 frr (>= ${source:Version}~),
 python (>= 2.7) | python3,
 python-ipaddr | python-ipaddress
Description: BGP/OSPF/RIP/RIPng/ISIS/PIM/LDP routing daemon (Python Tools)
 This package includes info files for frr, a free software which manages
 TCP/IP based routing protocols.  It supports BGP4, BGP4+, OSPFv2, OSPFv3,
 IS-IS, RIPv1, RIPv2, RIPng, PIM and LDP as well as the IPv6 versions of these.
