### autoconf/automake root stuff

/compile
/config.log
/config.h
/config.cache
/config.status
/config.guess
/config.sub
/config.version
/ltmain.sh
/stamp-h
/stamp-h[0-9]*
*-stamp
/INSTALL
/depcomp
/missing
/install-sh
/mkinstalldirs
/ylwrap
/autom4te*.cache
/configure.lineno
/configure
/config.h.in
/confdefs.h
/conftest
/conftest.err
/aclocal.m4
/libtool
/libtool.orig
/test-driver
/test-suite.log

/Makefile
/Makefile.in

/symalyzer_report.html
/jquery-3.4.1.min.js
/jquery-3.4.1.min.js.tmp

### autoconf/automake subdir stuff

.deps
.libs

### build outputs

*.o
*.lo
*.a
*.la
*.so
*.loT
*.pb.h
*.pb-c.h
*.pb-c.c
*.pb.cc
*_clippy.c
*.bc
*.ll
*.cg.json
*.cg.dot
*.cg.svg
*.xref
*_tsexpand.h

### gcov outputs

*.gcno
*.gcov
*.gcda

### dist

*.tar.?z
*.tar.?z.asc
*.tar.asc
*.deb
*.ddeb
*.dsc
*.changes

### other garbage

.nfs*
.arch-inventory
.arch-ids
{arch}
build
.cache
.dir-locals.el
.msg
.rebase-*
*~
*.bak
*.swp
*.pyc
*.dmp
__pycache__
*.patch
*.diff
cscope.*
TAGS
tags
GTAGS
GSYMS
GRTAGS
GPATH
compile_commands.json
.ccls
.ccls-cache
.dirstamp
refix
.vscode
.kitchen
.emacs.desktop*

/test-suite.log
pceplib/test/*.log
pceplib/test/*.trs
/tests/topotests/lib/mgmt_pb2.py
