compile
config.log
config.h
config.cache
config.status
config.guess
config.sub
ltmain.sh
stamp-h
stamp-h[0-9]*
*-stamp
Makefile
INSTALL
.deps
depcomp
missing
install-sh
mkinstalldirs
autom4te*.cache
configure.lineno
configure
config.h.in
aclocal.m4
Makefile.in
zebra-[0-9.][0-9.][0-9.]*.tar.gz
quagga-[0-9.][0-9.][0-9.]*.tar.gz
quagga-[0-9.][0-9.][0-9.]*.tar.gz.asc
.nfs*
libtool
.arch-inventory
.arch-ids
{arch}
build
.msg
.rebase-*
*~
*.loT
m4/*.m4
!m4/ax_sys_weak_alias.m4
debian/autoreconf.after
debian/autoreconf.before
debian/files
debian/quagga-dbg.debhelper.log
debian/quagga-dbg.substvars
debian/quagga-dbg/
debian/quagga-doc.debhelper.log
debian/quagga-doc.substvars
debian/quagga-doc/
debian/quagga.debhelper.log
debian/quagga.postinst.debhelper
debian/quagga.postrm.debhelper
debian/quagga.prerm.debhelper
debian/quagga.substvars
debian/quagga/
debian/tmp/
