compile
config.log
config.h
config.cache
config.status
config.guess
config.sub
ltmain.sh
stamp-h
stamp-h[0-9]*
*-stamp
Makefile
INSTALL
.deps
depcomp
missing
install-sh
mkinstalldirs
ylwrap
autom4te*.cache
configure.lineno
configure
config.h.in
confdefs.h
conftest
conftest.err
aclocal.m4
Makefile.in
*.tar.gz
*.tar.gz.asc
*.tar.?z
.nfs*
libtool
.libs
.arch-inventory
.arch-ids
{arch}
build
.msg
.rebase-*
*~
*.o
*.loT
m4/*.m4
!m4/ax_sys_weak_alias.m4
!m4/ax_compare_version.m4
!m4/ax_prog_perl_modules.m4
!m4/pkg.m4
debian/autoreconf.after
debian/autoreconf.before
debian/files
debian/frr-dbg.debhelper.log
debian/frr-dbg.substvars
debian/frr-dbg/
debian/frr-doc.debhelper.log
debian/frr-doc.substvars
debian/frr-doc/
debian/frr.debhelper.log
debian/frr.postinst.debhelper
debian/frr.postrm.debhelper
debian/frr.prerm.debhelper
debian/frr.substvars
debian/frr/
debian/tmp/
*.deb
*.ddeb
*.dsc
*.changes
*.pyc
*.swp
cscope.*
*.pb.h
*.pb-c.h
*.pb-c.c
TAGS
tags
GTAGS
GSYMS
GRTAGS
GPATH
*.la
*.lo
compile_commands.json
.dirstamp
