Jinja2==3.1.2; python_version >= "3.8"
lxml==4.8.0; python_version >= "3.8"
MarkupSafe==2.0.1; python_version >= "3.8"
pytest>=6.1; python_version >= "3.8"
typing_extensions==4.2.0; python_version >= "3.8"
scapy>=2.4.5; python_version >= "3.8"
docutils==0.19; python_version >= "3.8"
pyinotify==0.9.6; python_version >= "3.8"
exabgp>=4.2.21; python_version >= "3.8"