#results-table {
	color:#444;
}

div.image,
div.image img {
	width:480px;
	height:auto;
}
dl.commands dt {
	margin:1em 0;
}
dl.commands dd {
	font-family:Input Mono, monospace;
	white-space:pre-wrap;
}

