{%- macro main(item) %}
  <div class="func">
    <h2 class="nodeid">{{ item.nodeid_rel }}</h2>
    <div class="doc">
      {{ item.doc or '' }}
    </div>
  </div>
{%- endmacro %}
{%- macro header(item) %}
{%- endmacro %}
