Makefile
Makefile.in
mdate-sh
draft-zebra-00.txt
*.pdf
*.eps
frr.ps
frr.dvi
stamp-vti
.nfs*
*.aux
*.cp
*.cps
*.fn
*.fns
*.ky
*.kys
*.log
*.op
*.pg
*.toc
*.tp
*.vr
.arch-inventory
.arch-ids
*~
*.loT
refix
