!Makefile
Makefile.in
*.o
*.lo
*.la
version.c
version.h
gitversion.h
gitversion.h.tmp
.deps
.nfs*
.libs
.arch-inventory
.arch-ids
*~
*.loT
route_types.h
memtypes.h
command_lex.c
command_lex.h
command_parse.c
command_parse.h
refix
grammar_sandbox
clippy
defun_lex.c
