[Unit]
Description=IS-IS routing daemon
After=syslog.target networking.service zebra.service
Requires=zebra.service
OnFailure=heartbeat-failed@%n.service

[Service]
Nice=-5
Type=notify
EnvironmentFile=/etc/default/quagga
StartLimitInterval=3m
StartLimitBurst=3
TimeoutSec=1m
WatchdogSec=60s
RestartSec=5
Restart=on-abnormal
LimitNOFILE=1024
ExecStart=/usr/lib/quagga/isisd $ISISD_OPTIONS
ExecStartPost=/usr/bin/vtysh -b -n
ExecStopPost=-/bin/touch /var/run/quagga/isisd.was_running
ExecStopPost=-/bin/rm -f /var/run/quagga/isisd.pid
ExecStopPost=-/bin/rm -f /var/run/quagga/isisd.vty
[Install]
WantedBy=network-online.target
