[Unit]
Description=OSPF routing daemon %I
After=syslog.target networking.service zebra.service
Requires=zebra.service
OnFailure=heartbeat-failed@%n.service

[Service]
Type=notify
Nice=-5
EnvironmentFile=/etc/default/quagga
StartLimitInterval=3m
StartLimitBurst=15
TimeoutSec=1m
WatchdogSec=60s
RestartSec=5
Restart=on-abnormal
LimitNOFILE=1024
ExecStart=/usr/lib/quagga/ospfd $OSPFD_OPTIONS -n %I
ExecStartPost=/usr/bin/vtysh -b  -n
ExecStopPost=/bin/touch /var/run/quagga/ospfd@%I.was_running
[Install]
WantedBy=network-online.target
