[Unit]
Description=Cumulus Linux Quagga convenience service
After=networking.service syslog.service

[Service]
EnvironmentFile=-/etc/default/quagga
Type=simple
RemainAfterExit=yes
TimeoutSec=2m30s
TimeoutStopSec=1m
ExecStartPre=-/usr/lib/quagga/startup zebra
ExecStartPre=-/usr/lib/quagga/startup bgpd
ExecStartPre=-/usr/lib/quagga/startup isisd
ExecStartPre=-/usr/lib/quagga/startup ospfd
ExecStartPre=-/usr/lib/quagga/startup ospf6d
ExecStartPre=-/usr/lib/quagga/startup ripd
ExecStartPre=-/usr/lib/quagga/startup ripngd
ExecStartPost=-/usr/bin/vtysh -b -n
#
ExecReload=/usr/lib/quagga/quagga-reload.py --reload /etc/quagga/Quagga.conf
#
ExecStart=/bin/true
ExecStop=/bin/true
#
ExecStopPost=-/bin/systemctl stop bgpd.service
ExecStopPost=-/bin/systemctl stop isisd.service
ExecStopPost=-/bin/systemctl stop ospfd.service
ExecStopPost=-/bin/systemctl stop ospf6d.service
ExecStopPost=-/bin/systemctl stop ripd.service
ExecStopPost=-/bin/systemctl stop ripngd.service
ExecStopPost=-/bin/systemctl stop zebra.service

[Install]
WantedBy=network-online.target
