[Unit]
Description=RIP routing daemon
After=syslog.target networking.service zebra.service
OnFailure=heartbeat-failed@%n.service

[Service]
Nice=-5
Type=notify
EnvironmentFile=/etc/default/quagga
StartLimitInterval=3m
StartLimitBurst=3
TimeoutSec=1m
WatchdogSec=60s
RestartSec=5
Restart=on-abnormal
LimitNOFILE=1024
ExecStart=/usr/lib/quagga/ripd $RIPD_OPTIONS
ExecStartPost=/usr/bin/vtysh -b -n
[Install]
WantedBy=network-online.target
