[Unit]
Description=RIP routing daemon
After=syslog.target networking.service zebra.service
Requires=zebra.service
OnFailure=heartbeat-failed@%n.service

[Service]
Nice=-5
Type=notify
EnvironmentFile=/etc/default/quagga
StartLimitInterval=3m
StartLimitBurst=3
TimeoutSec=1m
WatchdogSec=60s
RestartSec=5
Restart=on-abnormal
LimitNOFILE=1024
ExecStart=/usr/lib/quagga/ripd $RIPD_OPTIONS
ExecStartPost=/usr/bin/vtysh -b -n
ExecStopPost=-/usr/bin/touch /var/run/quagga/ripd.was_running
ExecStopPost=-/bin/rm -f /var/run/quagga/ripd.pid
ExecStopPost=-/bin/rm -f /var/run/quagga/ripd.vty
ExecReload=/usr/lib/quagga/quagga-reload.py --reload /etc/quagga/Quagga.conf
[Install]
WantedBy=network-online.target
