! Default pathd configuration sample
!
password frr
log stdout
!
segment-list test1
 mpls label 123
 mpls label 456
!
segment-list test2
 mpls label 321
 mpls label 654
!
sr-policy color 1 endpoint 1.1.1.1
 name one
 binding-sid 100
 candidate-path preference 100 name test1 explicit segment-list test1
 candidate-path preference 200 name test2 explicit segment-list test2
!
sr-policy color 2 endpoint 2.2.2.2
 name two
 binding-sid 101
 candidate-path preference 200 name default explicit segment-list test2
!
