Makefile
Makefile.in
?.manifest
*.xml
pkginfo.*.full
pkginfo.tmpl
prototype.daemons
prototype.dev
prototype.doc
prototype.libs
prototype.smf
depend.daemons
depend.dev
depend.doc
depend.libs
depend.smf
frr.init
*.pkg
*.pkg.gz
*~
*.loT
*.a