/* Palette URL: http://paletton.com/#uid=70p0p0kt6uvcDRAlhBavokxLJ6w */
/* same as FRR docs color scheme */

:root {
--primary-0: #F36F16;	/* Main Primary color */
--primary-1: #FFC39A;
--primary-2: #FF9A55;
--primary-3: #A34403;
--primary-4: #341500;
--primary-9: #FFF3EB;

--secondary-1-0: #F39C16;	/* Main Secondary color (1) */
--secondary-1-1: #FFD79A;
--secondary-1-2: #FFBC55;
--secondary-1-3: #A36403;
--secondary-1-4: #341F00;
--secondary-1-9: #FFF7EB;

--secondary-2-0: #1A599F;	/* Main Secondary color (2) */
--secondary-2-1: #92B9E5;
--secondary-2-2: #477CB8;
--secondary-2-3: #0A386B;
--secondary-2-4: #011122;
--secondary-2-9: #E3EBF4;

--complement-0: #0E9A83;	/* Main Complement color */
--complement-1: #8AE4D4;
--complement-2: #3CB4A0;
--complement-3: #026857;
--complement-4: #00211B;
--complement-9: #E0F4F0;

--font-plain: Fira Sans, sans-serif;
--font-plain-narrow: Fira Sans Condensed, sans-serif;
/*
--font-mono: Input Mono, monospace;
--font-mono-narrow: Input Mono Narrow, monospace;
--font-mono-narrower: Input Mono Condensed, monospace;
*/
--font-mono: "Inconsolata", monospace;
--font-mono-narrow: "Inconsolata Semi Condensed", monospace;
--font-mono-narrower: "Inconsolata Condensed", monospace;
}

/* --- */

html, body {
	margin:0;
	padding:0;
	border:0;

	font-family: var(--font-plain);
	height:100%;
	width:100%;
}

/* filter / nav block at the top, and layout for it */

body {
	display:flex;
	flex-direction:column;
	overflow-y:hidden;
}

#filters {
	padding:2pt 5pt;

	background-color:var(--secondary-1-1);
	color:#000;
	border-bottom:2px solid var(--secondary-1-3);
}
#vsplit {
	display:flex;
	flex-direction:row;
	height:100%;
	width:100%;
	overflow:hidden;
}

#main {
	resize:horizontal;
	padding:0.5em 2em 6em 2em;
	overflow-x:scroll;
	overflow-y:scroll;
	flex-grow:2;
	flex-shrink:2;
}
#divider {
	width:2px;
	background-color:var(--secondary-1-3);
}
#infopane {
	resize:horizontal;
	overflow-x:scroll;
	overflow-y:scroll;
	flex-grow:1;
	flex-shrink:1;
	font-family: var(--font-plain-narrow);
}

#topomap,
svg {
	scale:80%;
}

.fblock {
	float:left;
}
.ftitle {
	display:inline-block;
	border-right:1px solid var(--secondary-1-3);
	padding-right:3pt;
	width:8em;
	text-align: right;
}
.fitems {
	display:inline-block;
}

.e_raw {
	/* position:absolute; */
	z-index: 1;

	background-color:#333;
	color:#ccc;
	padding:6pt 4pt;
	border:2px dotted #ff0;
	border-radius:3pt;
	margin:0;
	text-align:left;

	font-family: var(--font-mono);
}
.e_exp {
	float: right;
	padding: 0;
	border: 1px solid #8a8;
	background-color: #aca;
	position: relative;
	height:5pt;
	width:5pt;
	margin-left:3pt;
}

.e_hide {
	display:none;
}
.e_show {
	display:block;
}

.r_cont > .r_line::after {
	content:"›";
	color:#f00;
	font-weight:700;
}
.r_line {
	white-space:pre-wrap;
}

.item,
.timetable,
.func {
	display:contents;
}
.nodeid {
	grid-column-start: 1;
	grid-column-end:span 7;
	font-size:16pt;
	font-weight:normal;
	margin:0;
	margin-top:15pt;
	padding-top:5pt;
	padding-bottom:2pt;
	border:1px solid #ccc;
	border-bottom:3px solid #000;
}
.nodeid.active {
	font-weight:500;
/*	background-color:var(--secondary-2-1);
	border:1px solid var(--secondary-2-2);
	border-bottom:3px solid var(--secondary-2-3); */
}
.nodeid.active::before {
	content:"⇒ ";
	color:#44f;
	font-weight:700;
}


.node {
	display:contents;
}

.nodesum {
	grid-column-start: 1;
	grid-column-end:span 7;
	border:1px solid #ccc;
	border-top:0;
	padding:2pt 2pt 2pt 18pt;
}
.nodesum .e_always {
	margin-left:-12pt;
}
.nodesum .e_always::before {
	content: "⏵ ";
}
.nodesum.e_expanded .e_always::before {
	content: "⏷ ";
}
.nodesum .e_hide {
	border:1px solid #ccc;
	background-color:#fff;
	color:#000;
	margin:2pt;
	padding:2pt;
}

.node.node-failed .nodesum {
	background-color:#fbb;
	color:#000;
}
.node.node-passed .nodesum {
	background-color:#bfb;
	color:#000;
}
.node-tocentry.node-failed::before {
	content: "█ ";
	color:#f00;
}
.node-tocentry.node-passed::before {
	content: "█ ";
	color:#0a0;
}

.failinfo {
	grid-column-start: 1;
	grid-column-end:span 7;
	border:6pt solid #fbb;
	padding:4pt;
}

.assert-match-item {
	grid-column-start: 5;
	grid-column-end:span 3;
	padding: 2pt 3pt;
	border-bottom:1px solid #ccc;
	border-left:1em solid #ccc;
}
.assert-match-item::before {
	content: "↑ match for: ";
	color:#0a0;
	font-weight:700;
}

/*.timetable {*/
.items {
	display: grid;
	/* grid-template-columns: max-content max-content 17em 3em; */
	grid-auto-columns: max-content;
	grid-template-columns: repeat(6, max-content) 1fr;
	grid-row-gap: 0; /*5pt;*/
	grid-column-gap: 0; /*2pt;*/

	font-family:var(--font-plain);

	width:100%;
	/* max-width:100%; */
}
.itemdetails {
	display: contents;
}

.rtrname {
	grid-column-start: 2;
}
.dmnname {
	grid-column-start: 3;
}
.clicmd .dmnname {
	grid-column-end: span 3;
}

.logmsg {
	display: contents;
}
.logmsg > span.logmeta {
	grid-column-start: 4;
	font-family: var(--font-mono-narrow);
	font-size:9.5pt;
	align-items: start;
	display: flex;
	padding-top:4pt;
}
.logmeta a,
.logmeta a:hover,
.logmeta a:focus,
.logmeta a:active,
.logmeta a:visited {
	text-decoration:none;
	color: #005;
}
.logmeta a:after {
	content:"⋄";
	color: #00e;
}

.logprio {
	grid-column-start: 5;
}

.logtext {
	grid-column-start: 6;
	grid-column-end: span 2;
}

.logarg {
	text-decoration:underline dashed #777;
}

.logmsg.prio-crit > span {
	background-color: #fbc;
	border-bottom:1px solid #f04;
	font-weight:500;
}
.logmsg.prio-crit .logtext {
	font-family:var(--font-mono-narrower);
	white-space:pre-wrap;
}

.logmsg.prio-error > span {
	background-color: #fba;
	font-weight: 500;
}
.logmsg.prio-error .logtext {
}
.logmsg.prio-warn > span {
	background-color: #fca;
	font-weight: 500;
}
.logmsg.prio-notif > span {
	background-color: #e0e6d6;
}
.logmsg.prio-info > span {
	background-color: #d4ddd4;
}
.logmsg.prio-debug > span {
	background-color: #d0d7dd;
	font-weight: 300;
}

.clicmd {
	display: contents;
}
.clicmdtext {
	grid-column-start: 6;
	grid-column-end: span 2;

	font-family: var(--font-mono);
	white-space:pre-wrap;
}

.cliout {
	display: none;
}
.cliouttext {
	grid-column-start: 1;
	grid-column-end: span 7;

	margin:4pt 0pt;
	padding:4pt;
	border:2px solid #ccc;

	background-color:#222;
	color:#ccc;

	font-family: var(--font-mono-narrow);
	white-space: pre-wrap;
	max-width:132ch;
}

.pkt {
	display: contents;
}

.pktcol,
.logmsg > span,
.clicmd > span {
	border-bottom: 1px solid #aaa;
	background-color:#eee;
	/* border-radius: 3pt; */
	padding: 2pt 3pt;
}
.clicmd > span {
	color:#080;
	background-color:#ddd;
}
.clicmd.cli-same {
	display:none;
}
.clicmd.cli-same > span {
	background-color:#f9f9f9;
	color:#8a8;
}
.clicmd.cli-same > span.clicmdtext::after {
	content:"⇡";
	color:#444;
	font-weight:700;
}
.clicmd.cli-has-out > span.clicmdtext::before {
	content: "⏵ ";
	color:#000;
}
.clicmd.cli-has-out.cli-expanded > span.clicmdtext::before {
	content: "⏷ ";
	color:#000;
}

.tstamp {
	grid-column-start: 1;
	font-family: var(--font-plain-narrow);
	text-align: right;
}
.assert-match .tstamp {
	margin-left:-1em;
	border-left:1em solid #0c2;
}
.iface {
	grid-column-start: 2;
}
.p-eth {
	grid-column-start: 3;
	grid-column-end: span 2;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.l-3 {
	grid-column-start: 5;
	text-align: center;
}
.p-arp {
	grid-column-end: span 2;
	text-align: left;
	padding-left: 4pt;
}
.l-4 {
	grid-column-start: 6;
}
.l-5 {
	grid-column-start: 7;
}
.l-6 {
	grid-column-start: 8;
}

.last {
	grid-column-end: 9;
}

.p-ospf,
.p-pim,
.p-ldp,
.p-bgp,
.p-bfd {
	background-color:#ffeeaa;
	border-color:#fa0;
}

.log {
	height:auto;
}

.src-hilight {
	fill:#ffffaa;
	stroke:#444400;
}

.func .nodeid {
	font-size:16pt;
	font-weight:normal;
	margin:0;
	margin-top:5em;
	padding-top:5pt;
	padding-bottom:2pt;
	padding-left:1em;
	border:0;
	background:#000;
	color:#fff;
}

.func .nodeid::before {
	font-size:10pt;
	font-style:normal;
}

.func .docstring {
	margin-top:0;
	margin-bottom:2em;
	padding-left:1em;
	grid-column-start: 1;
	grid-column-end:span 7;
	border-left:1em solid #000;
	border-bottom:1px solid #000;
}

pre {
	white-space:break-spaces;
}

dl.pdml-root {
	padding:0;
	margin:0;
}
dl.pdml-root dt.back-nav {
	font-size:14pt;
	text-align:center;
	padding: 6px;
	padding-left:1em;
	font-style:italic;
	border: none;
	background-color: #ddd;
}
dl.pdml-root dt {
	padding: 2px;
	padding-left:1em;
	border: 1px solid var(--secondary-2-3);
	background-color: var(--secondary-2-1);
}
dl.pdml-root dd {
	margin-left: 1em;
	padding: 2px;
	background-color: var(--secondary-2-9);
}
dl.pdml-root div {
	padding-left:1em;
}
dl.pdml-root span.pdml-raw {
	display:inline-block;
	float:right;
	padding:0px 3px;
	color: var(--secondary-2-3);
}
dl.pdml-root div.pdml-raw {
	white-space:pre-wrap;
	max-height:40em;
	overflow: scroll;
	color: var(--secondary-2-9);
	background-color: var(--secondary-2-4);
}

dl.configs {
	display: grid;
	grid-auto-columns: max-content;
	grid-row-gap: 0;
	grid-column-gap: 0;
}
dl.configs dt {
	margin:0;
	padding:3pt 6pt;
	border:0;
	border-bottom:1px solid var(--secondary-2-2);
	grid-column-start: 1;
	background-color: var(--secondary-2-1);
}
dl.configs dd {
	margin:0;
	padding:3pt 6pt;
	border:0;
	border-left:1px dotted var(--secondary-2-2);
	border-bottom:1px solid var(--secondary-2-2);
	grid-column-end: span 1;
	background-color: var(--secondary-2-9);
}
dl.configs dd.cfg-present {
	cursor: pointer;
}
dl.configs dd.cfg-present.active {
	color: var(--secondary-2-9);
	background-color: var(--secondary-2-3);
}
div.config {
	margin:0;
	padding:5pt;
	border-left:2em solid var(--secondary-2-9);
}
div.config .cfg-buttons {
	margin-bottom:1em;
}
div.config .cfg-buttons * {
	padding:3pt 6pt;
	border-radius:3pt;
	cursor:pointer;
	margin-right:9pt;
}
div.config .cfg-buttons .cfg-close {
	border:1px solid #faa;
	background-color:#fdd;
	color:#000;
}
div.config .cfg-buttons .cfg-dl {
	border:1px solid #fca;
	background-color:#fed;
	color:#000;
}
div.config .cfg-buttons a {
	text-decoration:none;
}
